main {
  display: grid;
  grid-template-columns: auto 1fr;
  min-height: 100vh;
  max-width: 100vw;
}

#left {
  background: #fff;
  border-right: 1px solid #222;
  padding: 5px 1rem;
}


#sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#sidebar ul li.active:hover {
  color: #4fd1c5;
  svg{
    fill: #4fd1c5;
  }
}
